// $color-biomass: #00743f;
// $color-hydro: #1d65a6;
// $color-solar: #f2a104;
// $color-wind: #192e5b;

// OC
$color-biomass: #01af00;
$color-hydro: #00c5c5;
$color-solar: #e5e400;
$color-wind: #013d7b;

// navbar
$navbar-hover: #7e7e7e;
$navbar-active: #7e7e7e;
$navbar-background: #f4f4f4;
$navbar-text: #333333;

// gradients
$grad-start: #ffffff;
$grad-mid: #f9f9f9;
$grad-end: $navbar-background;


// font-colors
$logo-color: #555555;
$font-color: #333333;
$link-color: #007dd9;
$gray1: #cacaca;
$gray2: #b8b8b8;
$gray3: #8c8c8c;

// footer
$footer-background: $grad-end;
$footer-text: $font-color;
