.jumbotron-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  min-height: 500px;
  @media screen and (max-width: 991px) {min-height: 390px;}
  @media screen and (max-width: 767px) {min-height: 240px;}
  @media screen and (max-width: 480px) {min-height: 170px;}
}

.jt-title {
  align-self: center;
}

.gradient-container {
  background: linear-gradient($grad-start, $grad-end);
}

.home-container {

  padding: 16px 64px 48px 64px;
  @media screen and (max-width: 991px) {padding: 14px 56px 42px 56px;}
  @media screen and (max-width: 767px) {padding: 12px 48px 36px 48px;}
  @media screen and (max-width: 480px) {padding: 10px 40px 30px 40px;}

  h1, h2, h3, h4, h5, h6 {
    // font-family: 'Orbitron';
    font-family: 'Roboto';
    font-weight: 700;
  }

  p, a, li, td {
    font-family: 'Roboto';
    font-weight: 300;
    // font-family: 'AnticSlab';
  }
}

.carousel-container {
  @extend .home-container;
  background: linear-gradient($grad-start, $grad-mid);

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  #remap-carousel-1 {
    align-self: center;

    .carousel-img {
      max-height: 540px;
      // opacity: 0.9;
      // background: #ffffff;
    }

    .img-caption {
      font-family: 'Roboto';
      font-weight: 300;
      color: $navbar-text;
      background-color: rgba(255,255,255, 0.7);
      // text-shadow: 1px 1px 1px $navbar-background;

      // @media screen and (max-width: 991px){font-size: 15px;};
      // @media screen and (max-width: 767px){font-size: 13px;};
      // @media screen and (max-width: 480px){font-size: 12px;};
      @media screen and (max-width: 360px){font-size: 10px;};
    }
  }

}


.about-container {
  @extend .home-container;
  background: linear-gradient($grad-mid, $grad-end);
}

.components-container {
  @extend .home-container;
  @extend .gradient-container;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  .component-cell {
    width: 25%;
    padding: 24px;

    @media screen and (max-width: 991px){width: 50%;};
    @media screen and (max-width: 767px){width: 50%;};
    @media screen and (max-width: 480px){width: 100%;};

    .component-100 {
      display: flex;
      width: 100%;
      justify-content: center;

      .component-logo {
        max-height: 240px;
        align-self: center;
      }

    }

    ul {
      margin: 0;
      padding: 0;

      li {
        padding-bottom: 10px;
      }
    }

  }
}


.products-container {
  @extend .home-container;
  @extend .gradient-container;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  .product-cell {
    width: 50%;
    padding: 24px;

    @media screen and (max-width: 991px){width: 50%;};
    @media screen and (max-width: 767px){width: 50%;};
    @media screen and (max-width: 480px){width: 100%;};

    .product-100 {
      width: 100%;
      justify-content: center;
    }

    .prod-link {
      font-family: "Roboto";
      @include text-size(36px, 32px, 28px, 24px);
    }

  }

}


.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  width: 100%;

  .footer-logo {
    display: flex;
    width: 20%;
    padding: 0 20px 20px 0;
    justify-content: center;

    @media screen and (max-width: 991px){width: 20%;};
    @media screen and (max-width: 767px){width: 30%;};
    @media screen and (max-width: 480px){width: 35%;};

    .footer-logo-img {
      max-height: 120px;
      @media screen and (max-width: 991px){max-height: 108px};
      @media screen and (max-width: 767px){max-height: 90px};
      @media screen and (max-width: 480px){max-height: 60px};
    }
  }

  .footer-remap {
    width: 55%;
    padding: 0 20px 20px 0;

    @media screen and (max-width: 991px){width: 55%;};
    @media screen and (max-width: 767px){width: 70%; padding: 0;};
    @media screen and (max-width: 480px){width: 65%; padding: 0;};
  }

  .footer-others {
    width: 25%;
    padding: 0 20px 20px 0;

    @media screen and (max-width: 991px){width: 25%;};
    @media screen and (max-width: 767px){width: 100%;};
    @media screen and (max-width: 480px){width: 100%;};
  }
}
