{% extends "news/news_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Keep Updated" %} - {{ block.super }} {% endblock %}

{% block body_class %}news news-list explore{% endblock %}

{% block body %}


<div class = "section firstChild">
	<div class = "container">
		<div class = "readNewsWrapper">
			<div class = "readNewsTitle">{{ article }}</div>
			<div class = "readNewsDate">{{ article.pub_date.date }}</div>
			<div class = "newsBorder"></div>
		</div>

		<div class = "newsListMainWrapper">
			<div class = "row">
				<div class = "col-md-3">
					<div class = "newsArchiveWrapper">
						<p>Browse articles by date published</p>

						<ul class = "yearList">
							{% for yr in year_list %}
								<li>
									<div class = "year">{{ yr |date:"Y"}} </div>
									<ul class = "monthList">
										{% for mon in month_list %}
											{% if mon.year == yr.year %}
													<li><a href="/news/{{yr.year}}/{{mon.month}}">{{ mon | date:"F"}}</a></li>
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							{% endfor %}
						</ul>

					</div>
				</div>
				<div class = "col-md-9">
					<div class = "newsBody">
            <div align="middle">
            <img src="{{ article.image1.url }}" width="400"/>
						<img src="{{ article.image2.url }}" width="400"/>
            </div>
						<p>{{ article.content }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
