{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About PHD" %} — {{ block.super }} {% endblock %}

{% block body_class %}aboutphd explore{% endblock %}
{% block body_outer %}
<div class="container2">
    <div class="page-header">
      <h2 style="color:#fff">{% trans "About PHD" %}</h2>
    </div>

    <h3 style="color:#fff">{% trans "The Philippine Hydrologic Dataset (PHD)" %}</h3>
    <p>The UP Training Center for Applied Geodesy and Photogrammetry (UP TCAGP) is tasked to undertake a directed research program funded by the Philippine Council for Industry, Energy and Emerging Technology Research and Development (PCIEERD-DOST) entitled “Nationwide Detailed Resources Assessment Using LiDAR (Phil-LiDAR 2)”. One of the five (5) project components is the Development of the Philippine Hydrologic Dataset for Watersheds from LiDAR Surveys (PHD) whose main objective is to develop a national repository of hydrologic datasets for the Philippines, specifically inland bodies of water.</p>
    <p>Inland bodies of water (IBW) include natural or man-made features dominated by water all throughout the year or seasonally. They can be in the form of streams or rivers, inland wetlands (lakes, swamps, marshes), agricultural ditches, irrigation networks, and urban drainage network among others. IBWs serve a role in different aspects of people’s lives from livelihood to ecological stability. They provide different services deemed vital to both the community and nature. For example, rivers and lakes are sources of food and water. Rivers also provide energy through hydroelectric power and offer venue for recreation and tourism. Agricultural drainages and irrigation networks are important in crop and food production while urban drainage networks help in mitigating disasters by assisting in flood control.</p>
    <p>Discriminate attention were given to inland bodies of water; palpable neglect that often leads to the deterioration of these water bodies. Pollution and unsustainable practices are among the threats that water bodies face, thus (hence), concerted action is needed to avoid further degradation. Realizing these threats reinforces the need to create policies that would benefit water bodies. The policies would include proper management and restoration of inland bodies of water. To effectively implement these, a comprehensive inventory and database of these water bodies are necessary, especially in the initial steps of forming those policies.</p>
    <p>This role that PHD assumes encompasses the development of the national repository of the hydrologic datasets. To accomplish this task, different workflows are formulated for each subcomponent of PHD, with the goal of extracting and compiling data of the different hydrologic units. Upon generating these workflows, and eventually realizing the task of creating a common repository for the datasets, it would be easier for stakeholders to get hold of the different data they need to advance their projects for the improvement of IBWs.</p>

    <h3 style="color:#fff">{% trans "Objectives" %}</h3>
    <p>The program aims to develop a national repository of hydrologic datasets for the Philippines.</p>
    <p>1. Develop different workflows using various geographic data models to generate different hydrologic datasets in watersheds.</p>
    <p>2. Generate detailed maps of all water resources in the Philippines including, but not limited to, hydrologic units, stream and river networks, dams, and other natural and man-made water features extracted from LiDAR data and other related maps obtained from previous modeling efforts and those generated by different agencies.</p>
    <p>3. Produce a GeoDatabase containing calibrated parameters resulting from the Flood Modeling Component (FMC) of the DREAM project, which can be used for water balance analysis, hydrological modeling and similar applications.</p>
  </div>

{% endblock %}
