{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About REMap" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<!-- <div class="non-home-body"> -->
<div class="page-header">
  <h2>{% trans "About REMap" %}</h2>
</div>
<p class="lead"><strong>{% trans "The Philippine Renewable Energy Resource Mapping from LiDAR Surveys (REMap) Project" %}</strong></p>
<p>
Lorem ipsum...
</p>

<div id="biomass">
<h3 class="color-biomass">Biomass</h3>
<p>
  Lorem ipsum...
  <!-- <ul>
    <li>Considers four major crops (rice/palay, corn, sugarcane, coconut).</li>
    <li>Computes for the theoretical biomass potential using administrative boundaries and statistical data.</li>
    <li>Computes the energy content of biomass potential evaluated using theoretical potential, lower heating value, efficiency of collection, availability of biomass for energy production and area of region under consideration.</li>
    <li>Produces resource maps based on agricultural maps processed and classified using LandSAT satellite images and LiDAR datasets.</li>
  </ul> -->
</p>
</div>

<div id="hydro">
<h3 class="color-hydro">Hydro</h3>
<p>
  Lorem ipsum...
  <!-- <ul>
    <li>Considers the head (defined by a head determination algorithm applied to digital elevation models) and discharge (determined using the Soil and Water Assessment Tool coupled to ArcGIS) in computing for the power.</li>
    <li>Hydropower resource maps (run-of-river hydropower systems) are classified according to the horizontal distance connecting the virtual intake and virtual powerhouse determined using the head determination algorithm.</li>
  </ul> -->
</p>
</div>

<div id="solar">
<h3 class="color-solar">Solar</h3>
<p>
Lorem ipsum...
</p>
</div>

<div id="wind">
<h3 class="color-wind">Wind</h3>
<p>
Lorem ipsum...
</p>
</div>

<!-- </div> -->
{% endblock %}
