{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About REMap" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "About REMap" %}</h2>
</div>
<p class="lead"><strong>{% trans "The Philippine Renewable Energy Resource Mapping from LiDAR Surveys (REMap) Project" %}</strong></p>
<p>
Lorem ipsum...
</p>

<div>
<h3 class="color-biomass">Biomass</h3>
<p>
Lorem ipsum...
</p>
</div>

<div>
<h3 class="color-hydro">Hydro</h3>
<p>
Lorem ipsum...
</p>
</div>

<div>
<h3 class="color-solar">Solar</h3>
<p>
Lorem ipsum...
</p>
</div>

<div>
<h3 class="color-wind">Wind</h3>
<p>
Lorem ipsum...
</p>
</div>

{% endblock %}
