{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {{ block.super }}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-6 col-sm-12 container-padding-all-10">
        <p class="project-title">Phil-LiDAR 2 - <strong>REMap</strong></p>
        <p class="project-name">{% trans "Philippine Renewable Energy Resource Mapping from LiDAR Surveys" %}</p>
        <br>
        <p style="text-align: justify;">The REMap project is tasked with assessing the <strong><span class="color-biomass">Biomass</span></strong>, <strong><span class="color-hydro">Hydro</span></strong>, <strong><span class="color-solar">Solar</span></strong>, and <strong><span class="color-wind">Wind</span></strong> Energy resource in the country using LiDAR and other geospatial technologies.</p>
        <br>
        <p style="text-align: justify;">This geoportal <em>(powered by GeoNode)</em> is here to fascilitate the archiving and distribition of REMap's outputs.</p>
      </div>

      <!-- Carousel -->
      <div class="col-md-6 col-sm-12 container-padding-all-10 container-carousel">
        <div id="remap-carousel-1" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#remap-carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#remap-carousel-1" data-slide-to="1"></li>
                <li data-target="#remap-carousel-1" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="carousel-img" src="{{STATIC_URL}}geonode/img/carousel/remap-1st-gw.png" alt="REMap First General Workshop (2015)">
                </div>
                <div class="item">
                    <img class="carousel-img" src="{{STATIC_URL}}geonode/img/carousel/pyra-2.png" alt="REMap Pyranometer at MSU-IIT">
                </div>
                <div class="item">
                    <img class="carousel-img" src="{{STATIC_URL}}geonode/img/carousel/remap-1st-year-ender.png" alt="Phil-LiDAR2 First Year Ender (2014)">
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
      </div>

    </div>
  </div>
  {% endblock %}

  <div class="container container-padding-tb-10">
    <hr>
  </div>

  {% block mainbody %}
  <div class="container container-padding-t-50" id="about-remap">
    <div class="col-md-6 col-sm-12 remap-framework-img-container">
      <img class="img-responsive remap-framework-img" src="{{STATIC_URL}}geonode/img/site/remap-conceptual-framework.png">
    </div>
    <div class="col-md-6 col-sm-12 remap-framework-text-container">
      <p style="text-align: justify;">
        Launched on July 1, 2014, <strong>REMap</strong> is the 5th component of the <strong>Phil-LiDAR 2 Program</strong> and is a directed research funded by the Department of Science and Technology (<strong>DOST</strong>).<br><br>
        It explores the utilization of <strong>LiDAR</strong> and other geospatial data for evaluating renewable energy resources, focusing on <strong><span class="color-biomass">biomass</span></strong>, <strong><span class="color-hydro">hydro</span></strong>, <strong><span class="color-solar">solar</span></strong>, and <strong><span class="color-wind">wind</span></strong>.
      </p>
      <br>

      <p style="text-align: justify;">
        The <strong>objectives</strong> of the Project are:<br>
        1. Develop workflows and algorithms for RE resource assessment using LiDAR and other geospatial data and technologies;<br>
        2. Assess the renewable energy potential of the Philippines for <strong><span class="color-biomass">biomass</span></strong>, <strong><span class="color-hydro">hydro</span></strong>, <strong><span class="color-solar">solar</span></strong>, and <strong><span class="color-wind">wind</span></strong>; and <br>
        3. Perform site suitability assessment for the development of <strong><span class="color-biomass">biomass</span></strong>, <strong><span class="color-hydro">hydro</span></strong>, <strong><span class="color-solar">solar</span></strong>, and <strong><span class="color-wind">wind</span></strong>.
      </p>
    </div>
  </div>

  <div class="container container-padding-tb-10">
    <hr>
  </div>

  <div class="container container-padding-tb-10">
    <div class="col-md-3 col-sm-6 col-xs-12 component-container">
      BIOMASS
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 component-container">
      HYDRO
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 component-container">
      SOLAR
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 component-container">
      WIND
    </div>
  </div>

  <div class="container container-padding-tb-10">
    <hr>
  </div>

  <div class="container">
    <div class="row home-facets">
    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-6">
        <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></p>
        <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
        <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
        {% if user.is_authenticated %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
        {% else %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
        {% endif %}
      </div>
      <div class="col-md-6">
        <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
        <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
        <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
        {% if user.is_authenticated %}
        <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
        {% else %}
        <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
        {% endif %}
      </div>
      <!-- <div class="col-md-4">
        <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-5x"></i></a></p>
        <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
        <p>{% trans "GeoNode allows registered users to easily upload geospatial data in several formats including shapefile and GeoTiff." %}</p>
        <p><a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
      </div> -->
    {% endwith %}
    </div>
  </div>
  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  {% endverbatim %}
  {% endblock %}

{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
  <script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
  </script>

{% endblock extra_script %}
