{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore Layers" %} - {{ block.super }} {% endblock %}

{% block body_class %}layers explore{% endblock %}

{% block body %}
<div class = "landCoverTitleWrapper">
  <div class = "container">
    <a href = "javascript:;" class = "pull-right scrollToTop" style="display: none">back to top</a>
    {% if map_type == "lulc" %}
    <div class = "landCoverTitle">{% trans "Agricultural and Coastal Land Cover <b>Layers</b>" %}</div>
    {% else %}
    <div class = "landCoverTitle">{% trans "Agricultural Resources Vulnerability Assessment <b>Layers</b>" %}</div>
    {% endif %}
  </div>
</div>
<div class="page-header" style="display: none">
  {% if request.user.is_authenticated and user.is_active and user.is_superuser %}
  <a href="{% url "layer_upload" %}" class="btn btn-primary pull-right">{% trans "Upload Layers" %}</a>
  {% endif %}
  <h2 class="page-title">{% trans "Explore Layers" %}</h2>
</div>
  {% with include_type_filter='true' %}
  {% with facet_type='layers' %}
  {% with header='Type' %}
  {% with filter='type__in' %}
  {% include "search/_search_content.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% with is_layer='true' %}
  {% include "_bulk_permissions_form.html" %}
  {% endwith %}
{% endblock %}

{% block extra_script %}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?type__in=layer'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='layers_parmap' %}';
      {% endif %}
    FILTER_TYPE = 'layer';
    MAP_TYPE = '{{map_type}}';
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% include 'search/search_layer_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
