{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block body_class %}layers{% endblock %}

{% block body_outer %}
<div class = "section">
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-6">
                <p class = "sectionTitle alignRight contentDescription">Land Cover</p>
                <p class = "alignRight contentDescription">Download initial land cover jpeg files and shapefiles</p>
                <p class = "alignRight contentDescription">PARMap uses LiDAR data to extract agricultural classes and other land cover classes.</p>
            </div>
            <div class = "col-sm-6 contentImgWrapper">
                <a href="/layers">
                    <img src = "{{ STATIC_URL }}parmap/img/page-home/GIFs/LandCover.gif" class = "contentImg">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock extra_script %}
