{% extends "parmap/parmap_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "RS Layers" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents documents-list explore{% endblock %}

{% block body %}
    <div class = "landCoverTitleWrapper">
    <div class = "container">
        <a href = "javascript:;" class = "pull-right scrollToTop" style="display: none">back to top</a>
        <div class = "landCoverTitle">Other RS <b style='text-transform: capitalize;'>{{facettype}}</b></div>
    </div>
    </div>
    
    <div class="section firstChild backToTop" ng-controller="CartList">
        <div class = "container">
            <div class = "row">
                <div class = "col-sm-12 rightPanel">
                    <div class = "resultWrapper">
                        <div class = "resultTitle">
                            Results:
                            <a href = "javascript:;">Browse Queue</a>
                        </div>
                        
                        <ul>
                        {% for item in list %}
                          <li>
                            <div class="resultImgWrapper resultImgWrapperRs">
                                <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
                            </div>
                            <div class="description1"><a href="{{ item.detail_url }}">{{ item.title }}</a></div>
                            <div class="description2" style="text-transform: capitalize;">{{ item.category__gn_description }}</div>
                            <div class="description3">by <a href="/people/profile/{{ item.owner }}">{{ item.owner }}</a></div>
                                        
                            <div class = "actions">
                              <a href = "javascript:;"><i class = "fa fa-plus-square"></i> Add to Queue</a>
                              <a href="#" class="download-item" data-url="{{item.detail_url}}" data-id="{{item.id}}"><i class = "fa fa-download"></i>Download</a>
                            </div>
                            <div class = "description4">
                              <p>{{item.abstract}}</p>
                            </div>		

                            <div class="modal fade" id="resource-download-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="ResDownloadModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 80%; height: 60%;">
                                  <div class="modal-content" style="height: auto; min-height: 100%; border-radius: 0;">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="ResDownloadModalLabel">{{ item.id }} END-USER LICENSE AGREEMENT (Non-Commercial)</h4>
                                    </div>
                                    <div class="modal-body">
                                      <div class="row edit-modal">
                                        <div class="col-sm-12 text-left">
                                          {% include "parmap_data_request/eula.html" %}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <input type="button" class="btn btn-default" data-toggle="modal" data-target="#download-layer-{{ item.id }}" data-dismiss="modal" value="{% trans "Accept" %}"/>
                                      <input type="button" class="btn btn-default" data-toggle="modal" data-target="#download-layer" data-dismiss="modal" value="{% trans "Accept" %}"/>
                                      <input type="button" class="btn btn-default" data-dismiss="modal" value="{% trans "Close" %}"/>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        
                            <div class="modal fade" id="download-layer-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">{% trans "Download Layer" %}</h4>
                                    </div>
                                    <div class="modal-body parmap-download-list-{{ item.id }}">
                                        Download Links
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                            
                              <div class="modal fade" id="request-download-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="ReqDownloadModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="ReqDownloadModalLabel">{% trans "Request Data" %}</h4>
                                    </div>
                                    <div class="modal-body">
                                      <div class="row edit-modal">
                                        <div class="col-sm-12 text-left">
                                          <form id="data_request_form" action="{% url 'datarequest_add' %}" method="post" enctype="multipart/form-data">
                                              <input type="hidden" name="uuid" value="{{ item.uuid }}">
                                              {% csrf_token %}
                                              <p><span style="font-style: italic">Note on the formal request letter:</span></p>
                                              <p>The letter is a signed endorsement from the head of agency, department head, academic adviser, etc. Purpose of the data, types of data requested and intended use should be specified in the letter.</p>
                                              <p>Letter should be addressed to Ariel C. Blanco, Dr. Eng., Director, Training Center for Applied Geodesy and Photogrammetry (TCAGP).</p>
                                              <input class="upload-request-file" data-uuid="{{item.uuid}}" data-id="{{item.id}}" type="file" name="letter_file"/>
                                              <div id="kv-error-1" style="margin-top:10px;display:none"></div>
                                              <div id="kv-success-1" class="alert alert-success " style="margin-top:10px;display:none"><ul></ul></div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer"></div>
                                  </div>
                                </div>
                              </div>
                        
                              <div class="modal fade" id="request-letter-upload-success" tabindex="-1" role="dialog" aria-labelledby="SuccessUploadModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title">{% trans "Request Data" %}</h4>
                                    </div>
                                    <div class="modal-body">
                                      <div class="row edit-modal">
                                        <div class="col-sm-12 text-left">
                                          <p>Successfully uploaded request letter</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
  {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
{% if GEONODE_SECURITY_ENABLED %}
  {% include "_permissions_form_js.html" %}
{% endif %}
<script type="text/javascript">

$(function (){
  $('.upload-request-file').each(function(){
    var uuid = $(this).data('uuid')
    var itemId = $(this).data('id')

    $(this).fileinput({
        "uploadUrl": "{% url "datarequest_add" %}",
        "uploadAsync": false,
        "dropZoneEnabled": false,
        "required": true,
        "maxFileCount": 1,
        "showPreview": false,
        "maxFileSize": 10240,
        "showClose": true,
        "allowedFileExtensions": ["pdf"],
        "allowedPreviewMimeTypes": ["application/pdf"],
        "browseLabel": "Select file",
        "uploadLabel": "Upload file",
        "uploadExtraData": {"uuid":uuid},
        "elErrorContainer": '#kv-error-1',
        "msgFileRequired": "Please select a PDF file to upload.",
        "msgSizeTooLarge": "The file your trying to upload exceeds the maximum allowed upload size.",
        "msgInvalidFileExtension": "You selected an invalid file. Only PDF files are supported.",
    }).on('filebatchuploadsuccess', function(event, data, id, index) {
      $("#request-download-"+itemId).modal("toggle");
      $("#request-letter-upload-success").modal("show")
    });

    $('#request-letter-upload-success').on('hidden.bs.modal', function () {
      location.reload()
    });
  })

  $('.resultWrapper').on('click', '.download-item', function(evt){
    evt.preventDefault();
    console.log(this)
    var id = $(this).data('id');
    console.log(id);
    var urlArr = $(this).data('url').split('/');
    var item = urlArr[urlArr.length - 1];
    //   https://parmap-tst.dream.upd.edu.ph/parmap/other_rs/links/layers/geonode%3Aupper_disakan_3617_iv_2_lulc_1

    $.get('/parmap/other_rs/links/layers/' + item, function(data){
        if(data.trim() === '') {
            $('#request-download-'+id).modal('show');
        }else {
            $('.parmap-download-list-'+id).html(data);
            $('#resource-download-'+id).modal('show');
        }
    });
  });
});
</script>
{% with include_spatial='true' %}
{% include 'search/search_layer_scripts.html' %}
{% endwith %}
{% endblock extra_script %}
