<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Notification of Approval</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>Greetings from PARMap!</p>
    <p>We regret to inform you that the following data request/s has/have been denied:</p>
    <ol>
        <li>{{requested_resource.title}}</li>
    </ol>

    <p>This is based on the following reason/s:</p>
    <ol>
        {% for message in reasons %}
        <li>{{message}}</li>
        {% endfor %}
    </ol>
    
    {% if site_admin_email and site_admin_email.strip %}
        <p>For questions or concerns, contact us at <a href="mailto:{{site_admin_email}}">{{site_admin_email}}</a>.</p>
    {% else %}
        <p>For questions or concerns, contact us at <a href="mailto:parmap-admin@dream.upd.edu.ph">parmap-admin@dream.upd.edu.ph</a>.</p>
    {% endif %}

    <p style="margin-top: 1.75em;">Thank you!</p>
</body>
</html>
