<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Notification of Approval</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>Greetings!</p>
    <p>Your data request has now been approved. You may now download your requested data upon accepting the End User License Agreement (EULA) document. Approved data is as follows:</p>
    {% if resource_links %}
    <ol>
        {% for title, link in resource_links %}
        <li><a href="{{link}}">{{title}}</a></li>
        {% endfor %}
    </ol>
    {% endif %}
    <p>If you have any questions or concerns, you can contact us as at <a href="mailto:{{site_admin_email}}">{{site_admin_email}}</a>.</p>
    <p style="margin-top: 1.75em;">Thank you.</p>
    <p style="margin-top: 2em;">NOTICE:</p>
    <ul>
        <li>Maps prepared by participating State Universities and Colleges and Higher Education Institutions (Phil-LiDAR 2 Program B) &amp; Reviewed by University of the Philippines Training Center for Applied Geodesy and Photogrammetry (Phil-LiDAR 2 Program A Project 1)</li>
        <li>Use of the datasets provided herewith are covered by End Users License Agreement (EULA)</li>
        <li>Available datasets are Initial Land Cover Map JPG files, Shapefiles (1:10,000 based on national map index) and Data Dictionary (Fields definition)</li>
        <li>Datasets subject to updating. Maps show land cover on date of data acquisition and may not reflect present land cover.</li>
        <li>Major Source of Information: LiDAR Datasets from DREAM/Phil-LiDAR 1 Program</li>
        <li>Accuracy and Limitations.  The accuracy of the delivered Products/ouputs are dependent on the source datasets, and limitations of the software and algorithms used and implemented procedures. The Products are provided “as is” without any warranty of any kind, expressed or implied. Phil-LiDAR 2 Program does not warrant that the Products will meet the needs or expectations of the end users, or that the operations or use of the Products will be error free.</li>
    </ul>
</body>
</html>
