<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Notification of Approval</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>Greetings!</p>
    <p>Your data request has been received. Your request will now be available to the administrator for approval. You will receive an email regarding the status of your registration once the administrator approve/reject your request.</p>
    <p>For inquiries, you can contact us as at <a href="mailto:{{site_admin_email}}">{{site_admin_email}}</a>.</p>
    <p>Thank you.</p>
</body>
</html>
