<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Data Request Notice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>You have received the following notice from {{site_url}}:</p>
    <p>The user {{data_requestor}} is asking for download permission for the following data resource:</p>
    <p>{{data_resource}}</p>
    <p>You can visit the resource detail page here: {{data_url}}</p>
    <p>To see other notices or change how you receive notifications, please go to {{site_url}}</p>
</body>
</html>
