<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Notification of Approval</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>Greetings!</p>
    <p>We are sorry to inform you that your data request has been denied due to the following reasons:</p>
    <ol>
        {% for message in reasons %}
        <li>{{message}}</li>
        {% endfor %}
    </ol>
    <p>If you have any questions or concerns, you may contact us at <a href="mailto:{{site_admin_email}}">{{site_admin_email}}</a>.</p>
    <p>Thank you.</p>
</body>
</html>
