<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Notification of Approval</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>Greetings from PARMap!</p>
    <p>Your data request is currently under consideration.</p>
    <p>To further help us in processing your request, please indicate the following:</p>
    <ol>
        <li>Purpose/Intended Use of Data;</li>
        {% for message in reasons %}
        <li>{{message}}</li>
        {% endfor %}
    </ol>

    {% if site_admin_email and site_admin_email.strip %}
        <p>For questions or concerns, contact us at <a href="mailto:{{site_admin_email}}">{{site_admin_email}}</a>.</p>
    {% else %}
        <p>For questions or concerns, contact us at <a href="mailto:parmap-admin@dream.upd.edu.ph">parmap-admin@dream.upd.edu.ph</a>.</p>
    {% endif %}

    <p style="margin-top: 1.75em;">Thank you!</p>
</body>
</html>
