{% if facet_type == 'layers' and map_type == "lulc" %}
{% verbatim %}
  <div class = "resultWrapper">
    <div class="resultTitle">Results:</div>
    <ul>
        <li ng-repeat="item in results | keywordFilter: query" resource_id="{{ item.id }}" ng-cloak class="ng-cloak">
          <div class="resultImgWrapper">
            <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
          </div>
          <div class="description1"><a href="{{ item.detail_url }}">{{ item.title }}</a></div>
          <div class="description2" style="text-transform: capitalize;">{{ item.locationsLabel }}</div>
          <div class="description3">by <a href="/people/profile/{{ item.owner__username }}">{{ item.owner__username }}</a></div>
        </li>
    </ul>
  </div>
{% endverbatim %}
{% else %}
{% verbatim %}
  <div class = "resultWrapper">
    <div class="resultTitle">Results:</div>
    <ul>
        <li ng-repeat="item in results | keywordFilter: query" resource_id="{{ item.id }}" ng-cloak class="ng-cloak">
          <div class="resultImgWrapper">
            <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
          </div>
          <div class="description1"><a href="{{ item.detail_url }}">{{ item.title }}</a></div>
          <div class="description3">by <a href="/people/profile/{{ item.owner__username }}">{{ item.owner__username }}</a></div>
        </li>
    </ul>
  </div>
{% endverbatim %}
{% endif %}