{% extends "documents/document_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}{{ resource.title }} — {{ block.super }}{% endblock %}

{% block head %}

  {% if TWITTER_CARD %}
    {% include "base/_resourcebase_twittercard.html" %}
  {% endif %}
  {% if OPENGRAPH_ENABLED %}
    {% include "base/_resourcebase_opengraph.html" %}
  {% endif %}

{{ block.super }}
{% endblock %}

{% block body_class %}documents{% endblock %}

{% block body_outer %}

<div class="page-header">
  <h2>{{ resource.title }}</h2>
</div>

<div class="row">
  <div class="col-md-8">
    {% if "download_resourcebase" in perms_list %}
      {% if resource.extension|lower in imgtypes and resource.doc_file %}
      <div id="embedded_map">
        <a style="text-decoration:none;" href="{% url "document_download" resource.id %}" target="_blank">
          <img src="{% url "document_download" resource.id %}" width='500' class="img-responsive" />
        </a>
      </div>
      {% elif resource.doc_file %}
      <p><a href="{% url "document_download" resource.id %}" target="_blank">Download the {{ resource }} document</a></p>
      {% elif  resource.doc_url %}
      <p><a href="{{ resource.doc_url }}" target="_blank">Download the {{ resource }} document.</a> <small>({% trans 'External Resource' %})</small></p>
      {%  endif %}
    {%  endif %}

    <div class="documents-actions">
      {% include "_actions.html" %}
    </div>

    <div class="tab-content">
      {% include "base/resourcebase_info_panel.html" %}

    <!-- Removed Info and Share Tabs -->
      {% if false %}
        {% block social_links %}
          {% include "social_links.html" %}
        {% endblock %}
      {%  endif %}

      <article id="comments" class="tab-pane">
      {% include "_comments.html" %}
      </article>

      <article id="rate" class="tab-pane">
        <!-- TODO: Move this to a reusable template snippet -->
        {% if request.user.is_authenticated %}
        <h4>{% trans "Rate this document" %}</h4>
        {% user_rating request.user resource "document" as user_document_rating %}
        <div id="user_rating" class="category-layer" data-score="{{user_document_rating}}"></div>
        {% endif %}
        <h4>{% trans 'Average Rating' %}</h4>
        {% overall_rating resource "document" as document_rating %}
        {% num_ratings resource as num_votes %}
        <div class="overall_rating" style="float:left" data-score="{{ document_rating }}"></div> ({{num_votes}})
        <!-- TODO: Add display of who gave what rating based -->
      </article>

      {% if EXIF_ENABLED and exif_data %}
        {% with "exif/_exif_document_detail.html" as exif_template %}
            {% include exif_template %}
        {% endwith %}
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    {{resource.doc_file}}
    <br>
    {{resource.extension|lower}}
    <ul class="list-group">
      <li class="list-group-item">
      {% if "download_resourcebase" in perms_list %}
        {% if request.user.is_authenticated %}
          {% if resource.extension|lower in imgtypes and resource.doc_file %}
            {% comment %}
            <a style="text-decoration:none;" target="_blank" href="{% url "document_download" resource.id %}"><button class="btn btn-primary btn-md btn-block">{% trans "Download Map" %}</button></a>
            {% endcomment %}
            <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#resource-download">{% trans "Download Map" %}</button>
          {% elif resource.doc_file %}
            {% comment %}
            <a style="text-decoration:none;" target="_blank" href="{% url "document_download" resource.id %}"><button class="btn btn-primary btn-md btn-block">{% trans "Download Map" %}</button></a>
            {% endcomment %}
            <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#resource-download">{% trans "Download Map" %}</button>
          {% elif  resource.doc_url %}
            {% comment %}
            <a style="text-decoration:none;" target="_blank" href="{{ resource.doc_url }}"><button class="btn btn-primary btn-md btn-block">{% trans "Download Map" %}</button></a>
            {% endcomment %}
            <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#resource-download">{% trans "Download Map" %}</button>
            {%  endif %}
        {% else %}
          <button class="btn btn-primary btn-md btn-block" disabled>{% trans "Download Map" %}</button>
        {%  endif %}
        <div class="modal fade" id="resource-download" tabindex="-1" role="dialog" aria-labelledby="ResDownloadModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="width: 80%; height: 60%;">
            <div class="modal-content" style="height: auto; min-height: 100%; border-radius: 0;">
              <div class="modal-header">
                {% comment %}
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                {% endcomment %}
                <h4 class="modal-title" id="ResDownloadModalLabel">END-USER LICENSE AGREEMENT (Non-Commercial)</h4>
              </div>
              <div class="modal-body">
                <div class="row edit-modal">
                  <div class="col-sm-12 text-left">
                    {% include "parmap_data_request/eula.html" %}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                {% if "_lulc" in resource.doc_file or "_va" in resource.doc_file %}
                  <input type="button" class="btn btn-default" id="resource-download-accept-button" 
                    data-dismiss="modal" value="{% trans "Accept" %}"/>
                {% else %}
                  <input type="button" class="btn btn-default" data-toggle="modal" data-target="#download-layer"    
                    data-dismiss="modal" value="{% trans "Accept" %}"/>
                {% endif %}
                <input type="button" class="btn btn-default" data-dismiss="modal" value="{% trans "Close" %}"/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="download-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Download Map" %}</h4>
              </div>
              <div class="modal-body">
                <ul>
                  <li><a href="{{download_url}}">PNG OR JPEG</a></li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        {% if request.user.is_authenticated %}
          {% if has_pending_request %}
        <button class="btn btn-primary btn-md btn-block" disabled>{% trans "Awaiting Approval" %}</button>
          {% else %}
        <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#request-download">{% trans "Request Download" %}</button>
          {% endif %}
        <div class="modal fade" id="request-download" tabindex="-1" role="dialog" aria-labelledby="ReqDownloadModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ReqDownloadModalLabel">{% trans "Request Data" %}</h4>
              </div>
              <div class="modal-body">
                <div class="row edit-modal">
                  <div class="col-sm-12 text-left">
                    <form id="data_request_form" action="{% url 'datarequest_add' %}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="uuid" value="{{ resource.uuid }}">
                        {% csrf_token %}
                        <p><span style="font-style: italic">Note on the formal request letter:</span></p>
                        <p>The letter is a signed endorsement from the head of agency, department head, academic adviser, etc. Purpose of the data, types of data requested and intended use should be specified in the letter.</p>
                        <p>Letter should be addressed to Ariel C. Blanco, Dr. Eng., Director, Training Center for Applied Geodesy and Photogrammetry (TCAGP).</p>
                        <input id="upload-request-file" type="file" name="letter_file"/>
                        <div id="kv-error-1" style="margin-top:10px;display:none"></div>
                        <div id="kv-success-1" class="alert alert-success " style="margin-top:10px;display:none"><ul></ul></div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="request-letter-upload-success" tabindex="-1" role="dialog" aria-labelledby="SuccessUploadModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Request Data" %}</h4>
              </div>
              <div class="modal-body">
                <div class="row edit-modal">
                  <div class="col-sm-12 text-left">
                    <p>Successfully uploaded request letter</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
              </div>
            </div>
          </div>
        </div>
        {%  endif %}
      {%  endif %}
      </li>

      {% if request.user == resource.owner or request.user.is_superuser %}
      <li class="list-group-item">
        {% if "change_resourcebase" in perms_list %}
        <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#edit-document">{% trans "Edit Map" %}</button>
        {% else %}
        <button class="btn btn-primary btn-md btn-block" disabled>{% trans "Edit Map" %}</button>
        {% endif %}
        <div class="modal fade" id="edit-document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">  
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Edit Map" %}</h4>
              </div>
              <div class="modal-body">
                <div class="row edit-modal">
                  {% if "change_resourcebase_metadata" in perms_list %}
                  <div class="col-sm-3">
                    <i class="fa fa-list-alt fa-3x"></i>
                    <h4>{% trans "Metadata" %}</h4>
                    <a class="btn btn-default btn-block btn-xs" href="{% url "document_metadata" resource.id %}">{% trans "Edit" %}</a>
                  </div>
                  {% endif %}
                  {% if "change_resourcebase" in perms_list or "delete_resourcebase" in perms_list %}
                  <div class="col-sm-3">
                    <i class="fa fa-file-text-o fa-3x"></i>
                    <h4>{% trans "Map" %}</h4>
                    {% if "change_resourcebase" in perms_list %}
                    <a class="btn btn-default btn-block btn-xs" href="{% url "document_replace" resource.id %}">{% trans "Replace" %}</a>
                    {% endif %}
                    {% if "delete_resourcebase" in perms_list %}
                    <a class="btn btn-danger btn-block btn-xs" href="{% url "document_remove" resource.id %}">{% trans "Remove" %}</a>
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        {% if request.user.is_authenticated %}
        <button class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#download-metadata">{% trans "Download Metadata" %}</button>
        {% else %}
        <button class="btn btn-primary btn-md btn-block" disabled>{% trans "Download Metadata" %}</button>
        {% endif %}
        <div class="modal fade" id="download-metadata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Download Metadata" %}</h4>
              </div>
              <div class="modal-body">
                <ul>
                  {% for link in metadata %}
                  <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      {% endif %}
      
      {% if false %}
      <li class="list-group-item">
        <h4>{% trans "Resource using this document" %}</h4>
        {% if layer.maps %}
        <p>{% trans "List of resources using this document:" %}</p>
        {% endif %}
        <ul class="list-unstyled">
          {% if related.title %}
          <p>{% trans "This document is related to a " %} {{ resource.content_type.name }}</p>
          <a href='{{ related.get_absolute_url }}'>{{ related.title }}</a>
          {% else %}
          <p>{% trans "This document is not related to any maps or layers" %}</p>
          {% endif %}
        </ul>
      </li>
      {% endif %}

      {% if "change_resourcebase_permissions" in perms_list %}
      <li class="list-group-item">
        <h4>{% trans "Permissions" %}</h4>
        <p>{% trans "Click the button below to change the permissions of this document." %}</p>
        <p><a href="#modal_perms" data-toggle="modal" class="btn btn-primary btn-block" data-target="#_permissions">{% trans "Change Map Permissions" %}</a></p>
      </li>
      {% include "_permissions_form.html" %}
      {% endif %}

      {% if false %}
      {% include "base/_resourcebase_contact_snippet.html" %}
      {% endif %}

    </ul>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$(function (){
  $("#upload-request-file").fileinput({
      "uploadUrl": "{% url "datarequest_add" %}",
      "uploadAsync": false,
      "dropZoneEnabled": false,
      "required": true,
      "maxFileCount": 1,
      "showPreview": false,
      "maxFileSize": 10240,
      "showClose": true,
      "allowedFileExtensions": ["pdf"],
      "allowedPreviewMimeTypes": ["application/pdf"],
      "browseLabel": "Select file",
      "uploadLabel": "Upload file",
      "uploadExtraData": {"uuid":"{{resource.uuid}}"},
      "elErrorContainer": '#kv-error-1',
      "msgFileRequired": "Please select a PDF file to upload.",
      "msgSizeTooLarge": "The file your trying to upload exceeds the maximum allowed upload size.",
      "msgInvalidFileExtension": "You selected an invalid file. Only PDF files are supported.",
  }).on('filebatchuploadsuccess', function(event, data, id, index) {
    $("#request-download").modal("toggle");
    $("#request-letter-upload-success").modal("show")
  });

  $('#request-letter-upload-success').on('hidden.bs.modal', function () {
    location.reload()
  })
});
</script>


{% if SOCIAL_BUTTONS %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
    {% if request.user.is_authenticated %}
        {% user_rating_js request.user resource "document" %}
    {% else %}
        {% overall_rating resource "document" as the_doc_rating %}
    {% endif %}
    {% include 'rating.html' %}
    {% include 'request_download.html' %}
    <script type="text/javascript">
        {% if SOCIAL_BUTTONS %}
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        {% endif %}
    </script>
    {% include "_permissions_form_js.html" %}
{% endblock extra_script %}
