{% load i18n %}
<div class="section firstChild backToTop" ng-controller="CartList">
  <div class = "container">
      <div class = "row">
        <div class = "col-sm-3 filterWrapper">
          <div class = "filterHeader">
            <span>Filters</span>
            <a href="#" ng-click="clearSearch($event)" class="pull-right">Clear</a>
          </div>
          <div class = "filterForm">
            {% include "search/_general_filters.html" %}

            {% if SEARCH_FILTERS.EXTENT_ENABLED %}      
                {% include "search/_extent_filter.html" %}
            {% endif %}
          </div>
        </div>
        <div class="col-sm-9 rightPanel">
          <div ng-if="hasNoFilter === true">
            {% if map_type == "lulc" %}
              {% include "search/_lulc_landing.html" %}
            {% endif %}
            {% if map_type == "va" %}
              {% include "search/_va_landing.html" %}
            {% endif %}
          </div>
          <div ng-if="hasNoFilter !== true">
            {% include 'base/_resourcebase_snippet.html' %}
          </div>
        </div>
      </div>
    </div>
</div>