<p>Vulnerability is the inability to ensure the susceptibility of agricultural resources to adverse effects of hostile environment. It extends with the degree of exposure and sensitivity from impacts of hazards and risks considering limited adaptation capabilities. It is a function of exposure, sensitivity, and adaptive capacity.</p>
<p>PARMap utilizes a multi-criteria decision analysis framework which incorporates multiple sources of information to identify areas that are vulnerable to hazards such as seawater intrusion, drought, and flood. National and municipal level vulnerability maps are produced using remotely-sensed data and GIS layers representing various climatic factors for each hazard, and participatory methods such as focus group discussions and key informant interviews.</p>
<p style="margin-bottom: 0px;">To know more about the vulnerability assessment, click <a href = "javascript:;">here</a>.</p>

{% if facet_type == 'layers' %}
<img src = "{{ STATIC_URL }}/parmap/img/page-va/VA.png" style="width: 100%">
{% endif %}
{% if facet_type == 'documents' %}
<div class = "resultWrapper">
    <div class="resultTitle">Recently Added:</div>
    {% verbatim %}
    <ul>
        <li ng-repeat="item in results | limitTo:3" resource_id="{{ item.id }}" ng-cloak class="ng-cloak">
            <div class="resultImgWrapper">
            <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
            </div>
            <div class="description1"><a href="{{ item.detail_url }}">{{ item.title }}</a></div>
            <div class="description3">by <a href="/people/profile/{{ item.owner__username }}">{{ item.owner__username }}</a></div>
        </li>
    </ul>
    {% endverbatim %}
</div>
{% endif %}