<script>
    var defaultLat = 14.5739684322;
    var defaultLng = 121.0628986359;
    var mainMap = L.map('mainMapView', {
        center: [defaultLat, defaultLng],
        zoom: 6,
        zoomControl: false,
        dragging: false,
        scrollWheelZoom: false,
        doubleClickZoom: false
    });


    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: '',
        id: 'mapbox.streets'
    }).addTo(mainMap);

    $("[name=search]").click(function () {
        searchLayerLandCover("<?php echo SITE_URL; ?>");

        $(".dataRecoveryWrapper").html('<label>Data Coverage Map</label><div class = "mapWrapper" id = "filterMapView"></div>');

        var defaultLat = 14.5739684322;
        var defaultLng = 121.0628986359;
        var mymap = L.map('filterMapView', {
            center: [defaultLat, defaultLng],
            zoom: 6,
            zoomControl: false,
            dragging: false,
            scrollWheelZoom: false,
            doubleClickZoom: false
        });

        var OpenStreetMap_BlackAndWhite = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.png', {
            maxZoom: 18,
        }).addTo(mymap);
    });
</script>